# Spark (with PySpark)


In this tutorial, you will learn how to use Apache Spark, a framework for large-scale data processing, within a notebook.
Upon completing this lab you will be able to : 
 + Program in Spark with the Python Language
 + Demonstrate how to read and process data using Spark
 + Compare and contrast RDD and Dataframes. 
 + Build a simple machine learning application with Spark.
 
 
 
# Requirements : Installing Spark, PySpark and configuration to run it on jupyter notebooks

According to your OS, you have to follow the following tutorial :

+ [Windows](https://changhsinlee.com/install-pyspark-windows-jupyter/)
+ [Mac Os X](https://jmedium.com/pyspark-in-mac/)
 
At the end of the installation, you should be able to run the following code that is a kind of Hello word in PySpark.

In [2]:
import findspark
findspark.init('../spark-2.3.1-bin-hadoop2.7')

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.sql('''select 'spark' as hello ''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [3]:
spark.stop()

## Part 1 :  Spark Context

When writing a spark program, the first thing to do is to define a `SparkContext`. 

In Spark, communication occurs between a driver and executors. The driver has Spark jobs that it needs to run and these jobs are split into tasks that are submitted to the executors for completion. The results from these tasks are delivered back to the driver.

Here, we will use the `findspark` package that has to be installed using the following command: 

` pip3 install findspark`

Then we can use the `findspark.init()`function to locate the Spark process.

In [4]:
import findspark

findspark.init('../spark-2.3.1-bin-hadoop2.7')

import pyspark

sc=pyspark.SparkContext("local[*]","First program in Spark")

Try printing out sc to see its type.

In [5]:
# TO DO
print(sc)

<SparkContext master=local[*] appName=First program in Spark>

You can use Python's `dir()` function to get a list of all the attributes (including methods) accessible through the `sc` object.

In [6]:
dir(sc)

['PACKAGE_EXTENSIONS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accumulatorServer',
 '_active_spark_context',
 '_batchSize',
 '_callsite',
 '_checkpointFile',
 '_conf',
 '_dictToJavaMap',
 '_do_init',
 '_ensure_initialized',
 '_gateway',
 '_getJavaStorageLevel',
 '_initialize_context',
 '_javaAccumulator',
 '_jsc',
 '_jvm',
 '_lock',
 '_next_accum_id',
 '_pickled_broadcast_vars',
 '_python_includes',
 '_repr_html_',
 '_serialize_to_jvm',
 '_temp_dir',
 '_unbatched_serializer',
 'accumulator',
 'addFile',
 'addPyFile',
 'appName',
 'applicationId',
 'binaryFiles',
 'binaryRecords',
 'broadcast',
 'cancelAllJobs',
 'cancelJobGroup',
 'defaultMinPartitions',
 'defaultParallelism',
 'dump_profiles',
 'emptyRDD',
 'environment',
 'getConf',
 'getLocalProperty',
 'getOrCreate',
 'hadoopFile',
 'hadoopRDD',
 'master',
 'newAPIHadoopFile',
 'newAPIHadoopRDD',
 'parallelize',
 'pickleFile',
 'profiler_collector',
 'pythonExec',
 'pythonVer',
 'range',
 'runJob',
 'sequenceFile',
 'serializer',
 'setCheckpointDir',
 'setJobDescription',
 'setJobGroup',
 'setLocalProperty',
 'setLogLevel',
 'setSystemProperty',
 'show_profiles',
 'sparkHome',
 'sparkUser',
 'startTime',
 'statusTracker',
 'stop',
 'textFile',
 'uiWebUrl',
 'union',
 'version',
 'wholeTextFiles']

## Part 2 : Understanding Spark RDDâ€™s

### WordCount in Spark
In this part, we will write the wordcount in Spark and apply it on the novel Dracula of Bram Stocker (from the Gutemberg project).

First read the [pg345.txt](./SparkData/pg345.txt) file.

In [7]:
data = sc.textFile('../SparkData/pg345.txt')
type(data)

pyspark.rdd.RDD

To see the content, of the file, we need to run the action `collect` on the  RDD `data`

In [8]:
data.collect()

['The Project Gutenberg EBook of Dracula, by Bram Stoker',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included',
 'with this eBook or online at www.gutenberg.org/license',
 '',
 '',
 'Title: Dracula',
 '',
 'Author: Bram Stoker',
 '',
 'Release Date: August 16, 2013 [EBook #345]',
 '',
 'Language: English',
 '',
 '',
 '*** START OF THIS PROJECT GUTENBERG EBOOK DRACULA ***',
 '',
 '',
 '',
 '',
 'Produced by Chuck Greif and the Online Distributed',
 'Proofreading Team at http://www.pgdp.net (This file was',
 'produced from images generously made available by The',
 'Internet Archive)',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '                                DRACULA',
 '',
 '',
 '',
 '',
 '',
 '                                DRACULA',
 '',
 '                                  _by_',
 '',
 '                              Bram Stoker',
 '',
 '                        [Illustration: colophon]',
 '',
 '                                NEW YORK',
 '',
 '                            GROSSET & DUNLAP',
 '',
 '                              _Publishers_',
 '',
 '      Copyright, 1897, in the United States of America, according',
 '                   to Act of Congress, by Bram Stoker',
 '',
 '                        [_All rights reserved._]',
 '',
 '                      PRINTED IN THE UNITED STATES',
 '                                   AT',
 '               THE COUNTRY LIFE PRESS, GARDEN CITY, N.Y.',
 '',
 '',
 '',
 '',
 '                                   TO',
 '',
 '                             MY DEAR FRIEND',
 '',
 '                               HOMMY-BEG',
 '',
 '',
 '',
 '',
 'CONTENTS',
 '',
 '',
 'CHAPTER I',
 '                                                                    Page',
 '',
 "Jonathan Harker's Journal                                              1",
 '',
 'CHAPTER II',
 '',
 "Jonathan Harker's Journal                                             14",
 '',
 'CHAPTER III',
 '',
 "Jonathan Harker's Journal                                             26",
 '',
 'CHAPTER IV',
 '',
 "Jonathan Harker's Journal                                             38",
 '',
 'CHAPTER V',
 '',
 'Letters--Lucy and Mina                                                51',
 '',
 'CHAPTER VI',
 '',
 "Mina Murray's Journal                                                 59",
 '',
 'CHAPTER VII',
 '',
 'Cutting from "The Dailygraph," 8 August                               71',
 '',
 'CHAPTER VIII',
 '',
 "Mina Murray's Journal                                                 84",
 '',
 'CHAPTER IX',
 '',
 "Mina Murray's Journal                                                 98",
 '',
 'CHAPTER X',
 '',
 "Mina Murray's Journal                                                111",
 '',
 'CHAPTER XI',
 '',
 "Lucy Westenra's Diary                                                124",
 '',
 'CHAPTER XII',
 '',
 "Dr. Seward's Diary                                                   136",
 '',
 'CHAPTER XIII',
 '',
 "Dr. Seward's Diary                                                   152",
 '',
 'CHAPTER XIV',
 '',
 "Mina Harker's Journal                                                167",
 '',
 'CHAPTER XV',
 '',
 "Dr. Seward's Diary                                                   181",
 '',
 'CHAPTER XVI',
 '',
 "Dr. Seward's Diary                                                   194",
 '',
 'CHAPTER XVII',
 '',
 "Dr. Seward's Diary                                                   204",
 '',
 'CHAPTER XVIII',
 '',
 "Dr. Seward's Diary                                                   216",
 '',
 'CHAPTER XIX',
 '',
 "Jonathan Harker's Journal                                            231",
 '',
 'CHAPTER XX',
 '',
 "Jonathan Harker's Journal                                            243",
 '',
 'CHAPTER XXI',
 '',
 "Dr. Seward's Diary                                                   256",
 '',
 'CHAPTER XXII',
 '',
 "Jonathan Harker's Journal                                            269",
 '',
 'CHAPTER XXIII',
 '',
 "Dr. Seward's Diary                                                   281",
 '',
 'CHAPTER XXIV',
 '',
 "Dr. Seward's Phonograph Diary, spoken by Van Helsing                 294",
 '',
 'CHAPTER XXV',
 '',
 "Dr. Seward's Diary                                                   308",
 '',
 'CHAPTER XXVI',
 '',
 "Dr. Seward's Diary                                                   322",
 '',
 'CHAPTER XXVII',
 '',
 "Mina Harker's Journal                                                338",
 '',
 '',
 '',
 '',
 'DRACULA',
 '',
 '',
 '',
 '',
 'CHAPTER I',
 '',
 "JONATHAN HARKER'S JOURNAL",
 '',
 '(_Kept in shorthand._)',
 '',
 '',
 '_3 May. Bistritz._--Left Munich at 8:35 P. M., on 1st May, arriving at',
 'Vienna early next morning; should have arrived at 6:46, but train was an',
 'hour late. Buda-Pesth seems a wonderful place, from the glimpse which I',
 'got of it from the train and the little I could walk through the',
 'streets. I feared to go very far from the station, as we had arrived',
 'late and would start as near the correct time as possible. The',
 'impression I had was that we were leaving the West and entering the',
 'East; the most western of splendid bridges over the Danube, which is',
 'here of noble width and depth, took us among the traditions of Turkish',
 'rule.',
 '',
 'We left in pretty good time, and came after nightfall to Klausenburgh.',
 'Here I stopped for the night at the Hotel Royale. I had for dinner, or',
 'rather supper, a chicken done up some way with red pepper, which was',
 'very good but thirsty. (_Mem._, get recipe for Mina.) I asked the',
 'waiter, and he said it was called "paprika hendl," and that, as it was a',
 'national dish, I should be able to get it anywhere along the',
 'Carpathians. I found my smattering of German very useful here; indeed, I',
 "don't know how I should be able to get on without it.",
 '',
 'Having had some time at my disposal when in London, I had visited the',
 'British Museum, and made search among the books and maps in the library',
 'regarding Transylvania; it had struck me that some foreknowledge of the',
 'country could hardly fail to have some importance in dealing with a',
 'nobleman of that country. I find that the district he named is in the',
 'extreme east of the country, just on the borders of three states,',
 'Transylvania, Moldavia and Bukovina, in the midst of the Carpathian',
 'mountains; one of the wildest and least known portions of Europe. I was',
 'not able to light on any map or work giving the exact locality of the',
 'Castle Dracula, as there are no maps of this country as yet to compare',
 'with our own Ordnance Survey maps; but I found that Bistritz, the post',
 'town named by Count Dracula, is a fairly well-known place. I shall enter',
 'here some of my notes, as they may refresh my memory when I talk over my',
 'travels with Mina.',
 '',
 'In the population of Transylvania there are four distinct nationalities:',
 'Saxons in the South, and mixed with them the Wallachs, who are the',
 'descendants of the Dacians; Magyars in the West, and Szekelys in the',
 'East and North. I am going among the latter, who claim to be descended',
 'from Attila and the Huns. This may be so, for when the Magyars conquered',
 'the country in the eleventh century they found the Huns settled in it. I',
 'read that every known superstition in the world is gathered into the',
 'horseshoe of the Carpathians, as if it were the centre of some sort of',
 'imaginative whirlpool; if so my stay may be very interesting. (_Mem._, I',
 'must ask the Count all about them.)',
 '',
 'I did not sleep well, though my bed was comfortable enough, for I had',
 'all sorts of queer dreams. There was a dog howling all night under my',
 'window, which may have had something to do with it; or it may have been',
 'the paprika, for I had to drink up all the water in my carafe, and was',
 'still thirsty. Towards morning I slept and was wakened by the continuous',
 'knocking at my door, so I guess I must have been sleeping soundly then.',
 'I had for breakfast more paprika, and a sort of porridge of maize flour',
 'which they said was "mamaliga," and egg-plant stuffed with forcemeat, a',
 'very excellent dish, which they call "impletata." (_Mem._, get recipe',
 'for this also.) I had to hurry breakfast, for the train started a little',
 'before eight, or rather it ought to have done so, for after rushing to',
 'the station at 7:30 I had to sit in the carriage for more than an hour',
 'before we began to move. It seems to me that the further east you go the',
 'more unpunctual are the trains. What ought they to be in China?',
 '',
 'All day long we seemed to dawdle through a country which was full of',
 'beauty of every kind. Sometimes we saw little towns or castles on the',
 'top of steep hills such as we see in old missals; sometimes we ran by',
 'rivers and streams which seemed from the wide stony margin on each side',
 'of them to be subject to great floods. It takes a lot of water, and',
 'running strong, to sweep the outside edge of a river clear. At every',
 'station there were groups of people, sometimes crowds, and in all sorts',
 'of attire. Some of them were just like the peasants at home or those I',
 'saw coming through France and Germany, with short jackets and round hats',
 'and home-made trousers; but others were very picturesque. The women',
 'looked pretty, except when you got near them, but they were very clumsy',
 'about the waist. They had all full white sleeves of some kind or other,',
 'and most of them had big belts with a lot of strips of something',
 'fluttering from them like the dresses in a ballet, but of course there',
 'were petticoats under them. The strangest figures we saw were the',
 'Slovaks, who were more barbarian than the rest, with their big cow-boy',
 'hats, great baggy dirty-white trousers, white linen shirts, and enormous',
 'heavy leather belts, nearly a foot wide, all studded over with brass',
 'nails. They wore high boots, with their trousers tucked into them, and',
 'had long black hair and heavy black moustaches. They are very',
 'picturesque, but do not look prepossessing. On the stage they would be',
 'set down at once as some old Oriental band of brigands. They are,',
 'however, I am told, very harmless and rather wanting in natural',
 'self-assertion.',
 '',
 'It was on the dark side of twilight when we got to Bistritz, which is a',
 'very interesting old place. Being practically on the frontier--for the',
 'Borgo Pass leads from it into Bukovina--it has had a very stormy',
 'existence, and it certainly shows marks of it. Fifty years ago a series',
 'of great fires took place, which made terrible havoc on five separate',
 'occasions. At the very beginning of the seventeenth century it underwent',
 'a siege of three weeks and lost 13,000 people, the casualties of war',
 'proper being assisted by famine and disease.',
 '',
 'Count Dracula had directed me to go to the Golden Krone Hotel, which I',
 'found, to my great delight, to be thoroughly old-fashioned, for of',
 'course I wanted to see all I could of the ways of the country. I was',
 'evidently expected, for when I got near the door I faced a',
 'cheery-looking elderly woman in the usual peasant dress--white',
 'undergarment with long double apron, front, and back, of coloured stuff',
 'fitting almost too tight for modesty. When I came close she bowed and',
 'said, "The Herr Englishman?" "Yes," I said, "Jonathan Harker." She',
 'smiled, and gave some message to an elderly man in white shirt-sleeves,',
 'who had followed her to the door. He went, but immediately returned with',
 'a letter:--',
 '',
 '     "My Friend.--Welcome to the Carpathians. I am anxiously expecting',
 '     you. Sleep well to-night. At three to-morrow the diligence will',
 '     start for Bukovina; a place on it is kept for you. At the Borgo',
 '     Pass my carriage will await you and will bring you to me. I trust',
 '     that your journey from London has been a happy one, and that you',
 '     will enjoy your stay in my beautiful land.',
 '',
 '"Your friend,',
 '',
 '"DRACULA."',
 '',
 '',
 '_4 May._--I found that my landlord had got a letter from the Count,',
 'directing him to secure the best place on the coach for me; but on',
 'making inquiries as to details he seemed somewhat reticent, and',
 'pretended that he could not understand my German. This could not be',
 'true, because up to then he had understood it perfectly; at least, he',
 'answered my questions exactly as if he did. He and his wife, the old',
 'lady who had received me, looked at each other in a frightened sort of',
 'way. He mumbled out that the money had been sent in a letter, and that',
 'was all he knew. When I asked him if he knew Count Dracula, and could',
 'tell me anything of his castle, both he and his wife crossed themselves,',
 'and, saying that they knew nothing at all, simply refused to speak',
 'further. It was so near the time of starting that I had no time to ask',
 'any one else, for it was all very mysterious and not by any means',
 'comforting.',
 '',
 'Just before I was leaving, the old lady came up to my room and said in a',
 'very hysterical way:',
 '',
 '"Must you go? Oh! young Herr, must you go?" She was in such an excited',
 'state that she seemed to have lost her grip of what German she knew, and',
 'mixed it all up with some other language which I did not know at all. I',
 'was just able to follow her by asking many questions. When I told her',
 'that I must go at once, and that I was engaged on important business,',
 'she asked again:',
 '',
 '"Do you know what day it is?" I answered that it was the fourth of May.',
 'She shook her head as she said again:',
 '',
 '"Oh, yes! I know that! I know that, but do you know what day it is?" On',
 'my saying that I did not understand, she went on:',
 '',
 '"It is the eve of St. George\'s Day. Do you not know that to-night, when',
 'the clock strikes midnight, all the evil things in the world will have',
 'full sway? Do you know where you are going, and what you are going to?"',
 'She was in such evident distress that I tried to comfort her, but',
 'without effect. Finally she went down on her knees and implored me not',
 'to go; at least to wait a day or two before starting. It was all very',
 'ridiculous but I did not feel comfortable. However, there was business',
 'to be done, and I could allow nothing to interfere with it. I therefore',
 'tried to raise her up, and said, as gravely as I could, that I thanked',
 'her, but my duty was imperative, and that I must go. She then rose and',
 'dried her eyes, and taking a crucifix from her neck offered it to me. I',
 'did not know what to do, for, as an English Churchman, I have been',
 'taught to regard such things as in some measure idolatrous, and yet it',
 'seemed so ungracious to refuse an old lady meaning so well and in such a',
 'state of mind. She saw, I suppose, the doubt in my face, for she put the',
 'rosary round my neck, and said, "For your mother\'s sake," and went out',
 'of the room. I am writing up this part of the diary whilst I am waiting',
 'for the coach, which is, of course, late; and the crucifix is still',
 "round my neck. Whether it is the old lady's fear, or the many ghostly",
 'traditions of this place, or the crucifix itself, I do not know, but I',
 'am not feeling nearly as easy in my mind as usual. If this book should',
 'ever reach Mina before I do, let it bring my good-bye. Here comes the',
 'coach!',
 '',
 '       *       *       *       *       *',
 '',
 '_5 May. The Castle._--The grey of the morning has passed, and the sun is',
 'high over the distant horizon, which seems jagged, whether with trees or',
 'hills I know not, for it is so far off that big things and little are',
 'mixed. I am not sleepy, and, as I am not to be called till I awake,',
 'naturally I write till sleep comes. There are many odd things to put',
 'down, and, lest who reads them may fancy that I dined too well before I',
 'left Bistritz, let me put down my dinner exactly. I dined on what they',
 'called "robber steak"--bits of bacon, onion, and beef, seasoned with red',
 'pepper, and strung on sticks and roasted over the fire, in the simple',
 "style of the London cat's meat! The wine was Golden Mediasch, which",
 'produces a queer sting on the tongue, which is, however, not',
 'disagreeable. I had only a couple of glasses of this, and nothing else.',
 '',
 'When I got on the coach the driver had not taken his seat, and I saw him',
 'talking with the landlady. They were evidently talking of me, for every',
 'now and then they looked at me, and some of the people who were sitting',
 'on the bench outside the door--which they call by a name meaning',
 '"word-bearer"--came and listened, and then looked at me, most of them',
 'pityingly. I could hear a lot of words often repeated, queer words, for',
 'there were many nationalities in the crowd; so I quietly got my polyglot',
 'dictionary from my bag and looked them out. I must say they were not',
 'cheering to me, for amongst them were "Ordog"--Satan, "pokol"--hell,',
 '"stregoica"--witch, "vrolok" and "vlkoslak"--both of which mean the same',
 'thing, one being Slovak and the other Servian for something that is',
 'either were-wolf or vampire. (_Mem._, I must ask the Count about these',
 'superstitions)',
 '',
 'When we started, the crowd round the inn door, which had by this time',
 'swelled to a considerable size, all made the sign of the cross and',
 'pointed two fingers towards me. With some difficulty I got a',
 'fellow-passenger to tell me what they meant; he would not answer at',
 'first, but on learning that I was English, he explained that it was a',
 'charm or guard against the evil eye. This was not very pleasant for me,',
 'just starting for an unknown place to meet an unknown man; but every one',
 'seemed so kind-hearted, and so sorrowful, and so sympathetic that I',
 'could not but be touched. I shall never forget the last glimpse which I',
 'had of the inn-yard and its crowd of picturesque figures, all crossing',
 'themselves, as they stood round the wide archway, with its background of',
 'rich foliage of oleander and orange trees in green tubs clustered in the',
 'centre of the yard. Then our driver, whose wide linen drawers covered',
 'the whole front of the box-seat--"gotza" they call them--cracked his big',
 'whip over his four small horses, which ran abreast, and we set off on',
 'our journey.',
 '',
 'I soon lost sight and recollection of ghostly fears in the beauty of the',
 'scene as we drove along, although had I known the language, or rather',
 'languages, which my fellow-passengers were speaking, I might not have',
 'been able to throw them off so easily. Before us lay a green sloping',
 'land full of forests and woods, with here and there steep hills, crowned',
 'with clumps of trees or with farmhouses, the blank gable end to the',
 'road. There was everywhere a bewildering mass of fruit blossom--apple,',
 'plum, pear, cherry; and as we drove by I could see the green grass under',
 'the trees spangled with the fallen petals. In and out amongst these',
 'green hills of what they call here the "Mittel Land" ran the road,',
 'losing itself as it swept round the grassy curve, or was shut out by the',
 'straggling ends of pine woods, which here and there ran down the',
 'hillsides like tongues of flame. The road was rugged, but still we',
 'seemed to fly over it with a feverish haste. I could not understand then',
 'what the haste meant, but the driver was evidently bent on losing no',
 'time in reaching Borgo Prund. I was told that this road is in summertime',
 'excellent, but that it had not yet been put in order after the winter',

With the RDD `data`, from the previous cell, execute a `flatMap()` for each line in the input and then convert it to lower case, remove the commas, split the words on a space and store in the RDD `words`

In [9]:
# TO DO  - map step
words = data.flatMap(lambda line: ''.join(ch for ch in line if ch != ',').lower().split())

Execute the command with the action `take()` and retrieve the first 10 words from the `flatMap()`transformation

In [10]:
# TO DO 
words.take(10)

['the',
 'project',
 'gutenberg',
 'ebook',
 'of',
 'dracula',
 'by',
 'bram',
 'stoker',
 'this']

Perform a classic `map()` to create a tuple where each word has a count of 1

In [11]:
# TO DO
words = words.map(lambda word: (word, 1))

Write the reducing function

In [12]:
# TO DO 
words = words.reduceByKey(lambda count1, count2: count1 + count2)

Get all words that occur more than once and sort them alphabetically:

In [13]:
# TO DO
alphabeticalWords = sorted([word[0] for word in words.collect() if word[1] > 1])
print(alphabeticalWords)

['"\'my', '"_17', '"_2', '"_24', '"_25', '"_6', '"_czarina', '"a', '"ah', '"aha!"', '"all', '"am', '"and', '"are', '"arthur!', '"as', '"at', '"be', '"because', '"because"', '"believe', '"bloofer', '"brave', '"but', '"but"', '"by', '"can', '"certainly', '"come', '"come!"', '"come"', '"count', '"darkness', '"dear', '"did', '"do', '"don\'t', '"dr.', '"except', '"fifty', '"for', '"forgive', '"friend', '"go', '"god', '"god!', '"good', '"good!"', '"good-bye', '"have', '"he', '"here', '"his', '"how', '"hush!', '"i', '"i\'ll', '"i\'m', '"if', '"in', '"is', '"it', '"jack', '"john', '"jonathan', '"just', '"let', '"little', '"look', '"look!', '"lord', '"lucy', '"lucy.', '"madam', '"may', '"me', '"mein', '"mina', '"mrs.', '"must', '"my', '"nay', '"new', '"new-fangled', '"no', '"no!', '"no!"', '"no"', '"not', '"now', '"now"', '"of', '"oh', '"oh"', '"one', '"our', '"p.', '"perhaps', '"plain', '"professor', '"project', '"quincey', '"quite', '"read', '"right', '"see"', '"shall', '"she', '"shut', '"so', '"such', '"take', '"tell', '"thank', '"that', '"that\'s', '"the', '"then', '"there', '"there\'s', '"they', '"this', '"to', '"to-morrow', '"unless', '"van', '"we', '"welcome', '"well', '"well"', '"well?"', '"what', '"when', '"where', '"why', '"why?"', '"will', '"with', '"would', '"yes', '"yes"', '"you', '"your', '"yours', '"yus;', '&', "'a'", "'ad", "'all", "'are", "'arf-quid", "'armony", "'at", "'ave", "'bloofer", "'e", "'elped", "'ere", "'here", "'i", "'igh", "'im", "'im.", "'is", "'isself", "'ittin'", "'no';", "'ole", "'ome", "'ouse", "'ow", "'owl", "'rats", '(_mem._', '(or', '(this', '(unopened', '*', '***', '*****', '-', '...', '1.', '1.e.1', '1.e.1.', '1.e.7', '1.e.8', '1.e.8.', '1.e.9.', '1.f.3', '1.f.3.', '10:30', '11', '12', '14', '16', '18', '2.', '24', '25', '3', '3.', '30', '4', '5', '501(c)(3)', '6', '6:30', '7', '8', '90', '_"the', '_1', '_10', '_11', '_12', '_13', '_15', '_17', '_18', '_19', '_2', '_20', '_22', '_23', '_24', '_25', '_26', '_27', '_28', '_29', '_3', '_30', '_31', '_4', '_5', '_6', '_7', '_8', '_9', '_a', '_all_', '_always_', '_boyar_', '_by', '_czarina', '_demeter_', '_dr.', '_en', '_he_', '_her_', '_him_!"', '_in', '_is_', '_jonathan', '_knew_', '_know_', '_later._--another', '_later._--i', '_later._--it', '_later._--lord', '_letter', '_lucy', '_memorandum', '_mina', '_my_', '_nosferatu_', '_publishers_', '_rufus', '_same', '_something_', '_telegram', '_the', '_was_', 'a', "a'", "a-'idin'", "a-comin'", 'a.', 'abaft', 'abandoned', 'abating;', 'abbey', 'abbey.', 'abide', 'able', 'abnormally', 'aboard', 'aboon', 'aboot', 'about', 'about.', 'above', 'abraham', 'abreast', 'abroad', 'abroad.', 'absent', 'absolute', 'absolutely', 'absorbed', 'absorbing', 'accept', 'accept.', 'accepted', 'accepting', 'accepts', 'access', 'accident', 'accident.', 'accord', 'accord.', 'accordance', 'accordingly', 'account', 'accumulation', 'accuracy', 'accurate', 'accurately', 'accustomed', 'achieve', 'achieved', 'acquiesced', 'acquiesced.', 'acquiescence', 'acrid', 'across', 'across.', 'act', 'act.', 'action', 'action.', 'actions', 'active', 'actual', 'actually', 'add', 'added', 'added:', 'added:--', 'addition', 'additional', 'address', 'addressed', 'addresses', 'addressing', 'adjusted', 'admit', 'advance', 'advanced', 'advanced.', 'advantage', 'adventure', 'adventure.', 'advise', 'afar', 'affair', 'affair.', 'affairs', 'affect', 'affected', 'affects', 'afford', 'afield', 'afore', 'afraid', 'afraid;', 'afresh', 'after', 'afternoon', 'afterwards', 'afterwards.', 'again', 'again!', 'again.', 'again:', 'again:--', 'again;', 'again?"', 'against', 'agatha', 'age', 'agency', 'agent', 'agents', 'ages', 'ago', 'ago.', 'agonised', 'agonising', 'agony', 'agree', 'agreed', 'agreeing', 'agreement', 'agreement.', 'ah', 'ah!', 'ahead', 'aid', 'aiding', 'aids', 'ain', "ain't", 'air', 'air.', 'air;', 'ajar', 'alacrity', 'alarm', 'alarmed', 'alas!', 'alive', 'all', 'all!', 'all!"', 'all.', 'all."', 'all;', 'all?', 'alley', 'allow', 'allowed', 'almighty', 'almost', 'alone', 'alone.', 'alone."', 'alone;', 'along', 'along.', 'alongside', 'already', 'already.', 'already."', 'already;', 'also', 'also.', 'also;', 'also?"', 'alternative', 'although', 'altogether', 'altogether.', 'always', 'always.', 'am', 'am.', 'amazed', 'amazement', 'amenable', 'america', 'american', 'amid', 'amidst', 'among', 'amongst', 'amount', 'amsterdam', 'amsterdam.', 'amsterdam._', 'amused', 'an', "an'", 'analogy', 'anchor', 'ancient', 'ancients', 'and', 'and--and', 'anent', 'angel', 'angels', 'anger', 'angle', 'angrily', 'angry', 'angry.', 'anguish', 'animal', 'animal.', 'animals', 'animals.', 'animation', 'animiles', 'another', 'another.', 'answer', 'answer.', 'answer:--', 'answered', 'answered.', 'answered:', 'answered:--', 'answering', 'antidote', 'anxiety', 'anxiety.', 'anxious', 'anxious.', 'anxiously', 'any', 'anybody', 'anyhow', 'anyhow.', 'anyone', 'anything', 'anything!', 'anything.', 'anything."', 'anywhere', 'anywhere.', 'anÃ¦mic', 'apart', 'aperture', 'apologised', 'apology', 'appalled', 'appalling', 'apparent', 'apparently', 'appeal', 'appealing', 'appealingly', 'appear', 'appearance', 'appearance;', 'appeared', 'appears', 'appeased', 'appetite', 'applicable', 'apply', 'approach', 'approach.', 'approved.', 'apt', 'aquiline', 'arched', 'archive', 'archive)', 'are', 'are.', 'are."', 'are;', 'area', 'argue', 'argument', 'arguments', 'arise', 'arm', 'arm.', 'armed', 'arminius', 'armour', 'arms', 'arms.', 'army', 'around', 'around.', 'arouse', 'aroused', 'arrange', 'arranged', 'arranged.', 'arrangements', 'arranging', 'arrayed', 'arrival', 'arrive', 'arrived', 'arrived.', 'arrives', 'arrives.', 'arriving', 'arsk', 'art', 'art--', 'art.', 'art."', 'arter', 'arthur', "arthur's", 'arthur.', 'arthur."', 'arthur;', 'as', 'ascended', 'ascertain', 'ascertained', 'ascii"', 'ashamed', 'ashen', 'aside', 'aside.', 'ask', 'ask.', 'asked', 'asked.', 'asked:--', 'asking', 'asks', 'asleep', 'asleep.', 'asleep;', 'assembled', 'assent', 'assented', 'asserting', 'assistant', 'associated', 'assurance', 'assure', 'assured', 'astonished', 'astonishment', 'asylum', 'asylum.', 'at', 'at.', 'ate', 'atmosphere', 'attached', 'attack', 'attack.', 'attacked', 'attempt', 'attempt.', 'attempting', 'attend', 'attendant', 'attendants', 'attended', 'attending', 'attention', 'attention.', 'attila', 'attitude', 'attract', 'attributed', 'aud', 'aught', 'aught.', 'august', 'august._', 'august._--another', 'august._--i', 'august._--the', 'austrian', 'author', 'authority', 'autumn', 'avail', 'available', 'available.', 'avenue', 'avenue.', 'avoid', 'avoided', 'await', 'awake', 'awake.', 'awaked', 'awakened', 'aware', 'away', 'away.', 'away."', 'away;', 'awe', 'awful', 'awfully', 'awhile', 'awoke', 'awoke.', 'ay', 'aÃ«rial', 'b.', 'baby', 'back', 'back.', 'back."', 'back;', 'backed', 'background', 'bad', 'bad.', 'bade', 'baffle', 'baffled', 'bag', 'bag.', 'bag;', 'bags', 'balance', 'balanced', 'band', 'bank', 'banking', 'banks', 'baptism', 'bare', 'barely', 'bark', 'barking', 'barred', 'barren', 'bars', 'based', 'basket', 'bat', 'batches', 'bath', 'bathed', 'bats', 'battle', 'battlements', 'bay', 'be', 'be!', 'be.', 'be."', 'be;', 'beads', "bean't", 'bear', 'bear.', 'bear;', 'beard', 'bearing', 'beast', 'beast.', 'beasts', 'beat', 'beaten', 'beating', 'beats', 'beautiful', 'beautifully', 'beauty', 'became', 'because', 'beckoned', 'become', 'becomes', 'becoming', 'bed', 'bed.', 'bed;', 'bedroom', 'bedside', 'been', 'been.', 'been."', 'beer', 'before', 'before.', 'before;', 'beforehand', 'beg', 'began', 'began:--', 'begin', 'begin."', 'beginning', 'begins', 'begun', 'begun.', 'behalf', 'behind', "bein'", 'being', 'beings', 'belief', 'belief.', 'beliefs', 'believe', 'believed', 'believes', 'bell', 'bells', 'belly', 'belonging', 'belongings', 'belongs', 'beloved', 'below', 'below.', 'belt', 'belts', 'bench', 'bending', 'beneath', 'beneficent', 'beneficial', 'bent', 'berkeley', 'bermondsey', 'bersicker', 'beset', 'beside', 'besides', 'best', 'best.', 'bethnal', 'betray', 'betrayed', 'betraying', 'better', 'better.', 'between', 'bewildered', 'beyond', 'beyond.', 'bid', 'bidding', 'big', 'bigger', 'bilder', 'billington', 'binding', 'bird', 'birds', 'bistritz', 'bistritz.', 'bistritza', 'bit', 'bit.', 'bit;', 'bite', 'bitten', 'bitter', 'black', 'black.', 'blackness', 'blade', 'blame', 'blank', 'blanket', 'blast;', 'blazed', 'blazing', 'bleating', 'bled', 'bleeding', 'bless', 'blessed', 'blessing', 'blessings', 'blew', 'blind', 'blind.', 'blindfold', 'blinds', 'blinked', 'bloated', 'blood', 'blood-stained', 'blood.', 'blood."', 'blood;', 'bloody', 'bloom', "bloomin'", 'blot', 'blotted', 'blow', 'blow-fly', 'blowing', 'bloxam', 'blue', 'blush', 'blushing', 'board', 'board.', 'boat', 'boats', 'bodies', 'body', 'body.', 'bold', 'boldly', 'bolt', 'bolts', 'bone.', 'bones', 'book', 'book.', 'books', 'boon', 'boots', 'bore', 'borgo', 'borne', 'bosom', 'both', 'both.', 'bottle', 'bottom', 'boudoir', 'bought', 'bound', 'bow', 'bowed', 'bowed.', 'bowie', 'bows', 'box', 'box.', 'box;', 'boxes', 'boxes.', 'boy', 'boy.', 'braced', 'brain', 'brain.', 'brains', 'bram', 'branch', 'brandy', 'brass', 'brave', 'bravely', 'bravery', 'breach', 'break', 'breakfast', 'breakfast.', 'breakfasted', 'breaking', 'breast', 'breast.', 'breast;', 'breath', 'breath.', 'breathe', 'breathes', 'breathing', 'breathlessly', 'breeding', 'breeze.', 'bridge', 'bright', 'brightened', 'brightly', 'brilliant', 'bring', 'bringing', 'brings', 'british', 'broad', 'broke', 'broke.', 'broken', 'broken.', 'broken;', 'brooding', 'brother', 'brought', 'brown', 'brows', 'bruised', 'brush', 'brushed', 'brute', 'brutes', 'bucharest', 'buda-pesth', 'buffeting', 'building', 'built', 'bukovina', 'bukovina.', 'bulky', 'bullet', 'bunch', 'bundle', 'burden', 'burglary', 'burial', 'buried', 'burn', 'burned', 'burning', 'burning.', 'burnt', 'burst', 'bursting', 'bursts', 'bush', 'bushy', 'business', 'business.', 'busy', 'but', 'buy', 'buzzing', 'by', 'by-and-by', 'by.', 'c.', 'cab', 'cabin', 'cage', 'calculated', 'call', 'call.', 'called', 'called.', 'calling', 'callous', 'calls', 'calm', 'calm.', 'calmed', 'calmly', 'calmly:--', 'calmness', 'calÃ¨che', 'came', 'came.', 'camp-fire', 'campaign.', 'can', "can't", 'can.', 'can."', 'can;', 'candle', 'candles', 'candy', 'candy."', 'canine', 'cannot', 'cannot.', 'cape', 'capital', 'captain', 'capture', 'carafe', 'card', 'care', 'care.', 'cared', 'careful', 'carefully', 'carefully.', 'careless', 'carfax', 'carfax.', 'carfax;', 'cargo', 'carnal', 'carpathian', 'carpathians', 'carpathians.', 'carriage', 'carriages', 'carried', 'carriers', "carriers'", 'carries', 'carry', 'carrying', 'cart', 'cart.', 'carter', 'case', 'case.', 'cases', 'cast', 'castle', 'castle.', 'castles', 'cat', "cat's", 'cat;', 'catch', 'catching', 'cathedral', 'catherine_', 'catherine_.', 'cats', 'cattle', 'caught', 'cause', 'cause.', 'cause."', 'cause;', 'caused', 'causes', 'caution', 'cautiously', 'cawing', 'cease', 'ceased', 'ceased.', 'ceases', 'central', 'centre', 'centred', 'centuries', 'century', 'cerebral', 'certain', 'certainly', 'certainty', 'certificate', 'chain', 'chains', 'chains;', 'chair', 'chairs', 'chamber', 'chambers', 'champed', 'champing', 'chance', 'chance.', 'chances', 'change', 'change.', 'changed', 'changes', 'chap', 'chapel', 'chapel.', 'chaplain', 'chapter', 'charge', 'charm', 'charming', 'chat', 'chatted', 'check', 'checked', 'cheek.', 'cheeks', 'cheeks.', 'cheer', 'cheerful', 'cheerfully', 'cheerfully:', 'cheerfully:--', 'cheerfulness', 'cheery', 'cheque', 'chest', 'chest.', 'chicken', 'chief', 'child', 'child!"', "child's", 'child-brain', 'child.', 'child;', 'children', 'chill', 'chilled', 'chin', 'china', 'chinks', 'choice', 'choke', 'choked', 'choking', 'choose', 'choose.', 'chorus', 'chose', 'chosen', 'chronological', 'chuck', 'church', 'church.', 'churchyard', 'churchyard.', 'cigar', 'cigars', 'circle', 'circle.', 'circling', 'circumstances', 'city', 'city.', 'clad', 'claim', 'claimed', 'clasp', 'clasped', 'class', 'class.', 'classes', 'clay', 'clean', 'clear', 'clear.', 'cleared', 'clearly', 'clerk', 'clever', 'clever.', 'click', 'client', 'clients', 'cliff', 'cliff.', 'cliffs', 'climb', 'cloak', 'clock', 'close', 'close.', 'closed', 'closed.', 'closely', 'closely.', 'closer', 'closes', 'closing', 'clothes', 'clothes.', 'clothing', 'cloud', 'clouds', 'clue', 'clue.', 'clues', 'clues;', 'clump', 'clumsy', 'clung', 'clutched', 'co.', 'coach', 'coachman', 'coast', 'coastguard', 'coastguards', 'coat', 'cock', 'coffee', 'coffin', 'coffin-lid', 'coffin.', 'coffins', 'cold', 'cold.', 'cold;', 'colder', 'collapse', 'collar', 'collection', 'colour', 'coloured', 'colours', 'combination.', 'come', 'come!', 'come!"', 'come.', 'come."', 'come;', 'comes', 'comes!"', 'comes.', 'comfort', 'comfort;', 'comfortable', 'comfortable.', 'comforted', 'comforting', 'comforting.', "comin'", 'coming', 'coming.', 'coming;', 'command', 'command;', 'commanded', 'commanding', 'comment', 'commercial', 'committed', 'common', 'common.', 'communicate', 'communication', 'companion', 'companions', 'company', 'compare', 'compared', 'compel', 'complete', 'complete.', 'complete;', 'completed', 'completely', 'compliance', 'comply', 'complying', 'composed', 'comprehend', 'computer', 'conceal', 'concealment', 'concealment.', 'concentrated', 'concentration', 'concept', 'concern', 'concerned', 'concerning', 'conclusion', 'conclusion.', 'conclusions', 'conclusions.', 'concussion', 'condemn', 'condescend', 'condition', 'condition.', 'conditions', 'conduct', 'confer', 'confess', 'confided', 'confidence', 'confidence.', 'confine', 'confined', 'confirmation', 'confirmed', 'connected', 'connection', 'conscience', 'conscious', 'consciousness', 'consent', 'consequent', 'consider', 'considerable', 'considered', 'consigned', 'consignment', 'consolation', 'constant', 'constantly', 'consul', 'consult', 'consulted', 'consulting', 'consuming', 'contact', 'contain', 'contained', 'containing', 'contemptuous', 'content', 'contented', 'contents', 'continue', 'continued', 'continued:--', 'continuous', 'contributions', 'control', 'conventional', 'conversation', 'convey', 'conveyed', 'conveying', 'conviction', 'convinced', 'convulsively', 'cook', 'cool', 'cope', 'copied', 'copies', 'copy', 'copying', 'copyright', "corcoran's", 'corn', 'corner', 'corners', 'corporeal', 'corpse', 'corpse.', 'correct', 'correct.', 'correspondent', 'correspondent.', 'corridor', 'corruption', 'cost', 'costs', 'couch', 'could', 'could.', 'could:--', 'could;', "couldn't", 'council', 'counsel', 'counsels', 'count', 'count!', "count's", 'count.', 'counting', 'countries', 'country', 'country.', 'couple', 'courage', 'course', 'course.', 'court', 'court.', 'courteous', 'courtesy', 'courtly', 'courtyard', 'courtyard.', 'cover', 'covered', 'coward', 'cowered', 'cows', 'crack', 'cracking', 'cracks', 'crash', 'crawl', 'creak', 'creaking', 'create', 'created', 'creating', 'creation', 'creature', 'credit', 'creep', 'creeping', 'crept', 'crescent', 'crevices', 'crew', 'crew.', 'cried', 'cried.', 'cries', 'crime', 'criminal', 'crimson', 'cronies', 'cross', 'crossed', 'crossing', 'crouched', 'crowd', 'crowd.', 'crowded', 'crowds', 'crows', 'crucifix', 'crucifix.', 'cruel', 'crumble', 'crush', 'crushed', 'cry', 'crying', 'crying.', 'cszeks', 'cunning', 'cup', 'cure', 'cured', 'curiosity.', 'curious', 'curly-haired', 'current', 'curse', 'cursed', 'curtains', 'curve', 'custom', 'customs', 'cut', 'cutting', 'cylinders', 'd.', 'd._', 'daily', 'dailygraph"', 'damages', 'damp', 'dance', 'danced', 'danger', 'danger.', 'dangerous', 'dangerous.', 'dangers', 'dank', 'danube', 'danube.', 'dardanelles', 'dare', 'dared', 'dares', 'daresay', 'dark', 'dark.', 'dark."', 'darkly', 'darkness', 'darkness.', 'darling', "darling's", 'darling.', 'dashed', 'dashing', 'data', 'date', 'date.', 'dates', 'daughter', 'dawn', 'day', "day's", 'day-time', 'day.', 'day."', 'day;', 'daylight', 'daylight.', 'days', 'days.', 'dazed', 'de', 'dead', 'dead.', 'dead."', 'dead;', 'deadly', 'deal', 'deal.', 'dealing', 'dear', 'dear!', 'dear.', 'dear;', 'dearest', 'deary', 'death', 'death--and', 'death.', 'death."', 'death;', 'death?', 'deathly', 'decanter', 'decanter.', 'deceive', 'deceived', 'decent', 'decide', 'decided', 'deck', 'deeds', 'deem', 'deep', 'deepened', 'deeper', 'deeply', 'defeat', 'defect', 'defective', 'definite', 'degree', 'deign', 'deil', 'delay', 'delayed', 'delayed;', 'delays', 'deliberately', 'delicate', 'delight', 'delightful', 'delivered', 'delivery', 'demand', 'demon', 'demurred', 'denied', 'departed', 'depend', 'deposited', 'depth', 'depths', 'derelict', 'derivative', 'descend', 'descended', 'describe', 'described', 'description', 'desert', 'desert.', 'deserted', 'deserve', 'desire', 'desolate', 'desolation', 'despair', 'despair.', 'despairing', 'desperate', 'desperately', 'despite', 'destination.', 'destroy', 'destroyed', 'destroying', 'destruction', 'detail', 'details', 'details.', 'detect', 'determination', 'determined', 'devil', "devil's", 'devilish', 'devils', 'devoted', 'devotion', 'devouring', 'diabolical', 'diamond', 'diaries', 'diary', 'diary--_continued_', 'diary--_continued_.', 'diary.', 'diary."', 'diary._', 'did', 'did.', 'did."', "didn't", 'die', 'die.', 'die;', 'died', 'dies', 'difference', 'different', 'difficult', 'difficulties', 'difficulty', 'dignity', 'diligence', 'dim', 'diminished', 'dimly', 'dine', 'dined', 'dining-room', 'dinner', 'dinner-time', 'dinner.', 'dinner;', 'dipped', 'direct', 'directed', 'direction', 'direction.', 'directly', 'directory', 'dirty', 'disappear', 'disappeared', 'disappeared.', 'disappointed', 'disappointment.', 'disc', 'discharged', 'disclaimer', 'disclose', 'discover', 'discovered', 'discovery', 'discovery.', 'discuss', 'discussed', 'discussion', 'disease', 'diseases', 'disguise', 'dish', 'dishonour', 'dispelled', 'display', 'displayed', 'displaying', 'disposal', 'disposition', 'disposition.', 'dissolution', 'distance', 'distance.', 'distant', 'distinctly', 'distinguish', 'distorted', 'distract', 'distress', 'distressed', 'distribute', 'distributed', 'distributing', 'distribution', 'distrust.', 'disturb', 'disturbance', 'disturbance.', 'disturbed', 'disturbed.', 'disturbs', 'disuse', 'dizzy', 'do', 'do.', 'do."', 'do;', 'do?', 'do?"', 'doctor', "doctor's", 'doctor.', 'doctor;', 'doctors', 'does', 'does.', "doesn't", 'dog', "dog's", 'dog.', 'dog;', 'dogged', 'dogs', 'doing', 'doing.', 'doing?"', 'doings', 'domain', "don't", 'donate', 'donations', 'done', 'done!"', 'done.', 'done;', 'done?', "doolittle's", 'doom', 'doom.', 'door', 'door.', 'door."', 'door;', 'doors', 'doors.', 'doorway', 'dots', 'double', 'doubled', 'doubt', 'doubt.', 'doubt;', 'doubted', 'doubtful', 'doubting', 'doubtless', 'doubts', 'dover', 'down', 'down.', 'down;', 'downstairs', 'downward', 'downwards', 'doze', 'dozen', 'dr.', 'dracula', "dracula's", 'dracula.', 'drag', 'dragged', 'draught', 'draw', 'drawing', 'drawing-room', 'drawn', 'dread', 'dread.', 'dreaded', 'dreadful', 'dreadful.', 'dreads', 'dream', 'dream.', 'dreaming', 'dreaming.', 'dreams', 'dreams.', 'dreamy', 'dreary', 'dress', 'dress.', 'dressed', 'dresses', 'dressing', 'dressing-gown', 'drew', 'drew.', 'dried', 'drift', 'drifted', 'drifting', 'drink', 'drink.', 'drive', 'drive.', 'driven', 'driver', "driver's", 'driving', 'drooping', 'drop', 'dropped', 'dropping', 'drops', 'drove', 'drowned', 'drug', 'drunk', 'dry', 'due', 'due.', 'dug', 'dull', 'duly', 'dunlap', 'during', 'dusk', 'dust', 'dust.', 'dust;', 'dusty', 'duty', 'duty.', 'duty;', 'dying', 'dying.', 'each', 'each.', 'eager', 'eager.', 'eagerly', 'eagerness', 'eagerness.', 'ear', 'earlier', 'early', 'early.', 'earnest', 'earnest.', 'earnestly', 'ears', 'ears.', 'earth', 'earth-box', 'earth-boxes', 'earth.', 'earthly', 'earthy', 'ease', 'easily', 'easily.', 'east', 'east;', 'eastern', 'eastward', 'easy', 'easy.', 'eat', 'eat;', 'eaten', 'eating', 'ebook', 'ebooks', 'ebooks.', 'echo', 'edge', 'edges', 'ed

Now, get all words that occur more than once and sort them by frequency. Select the first 20. Hints : look at the `takeOrdered` action.

In [14]:
# TO DO
words.takeOrdered(20, key = lambda y: -y[1])

[('the', 7984),
 ('and', 5840),
 ('i', 4527),
 ('to', 4518),
 ('of', 3719),
 ('a', 2933),
 ('he', 2523),
 ('in', 2512),
 ('that', 2415),
 ('it', 1876),
 ('was', 1848),
 ('as', 1573),
 ('for', 1514),
 ('we', 1499),
 ('is', 1489),
 ('his', 1457),
 ('not', 1350),
 ('with', 1314),
 ('you', 1302),
 ('my', 1213)]

### A simple exercice

+ Create a Python collection of 10,000 integers
+ Create a Spark base RDD from that collection
+ Subtract one from each value using map
+ Perform action collect to view results
+ Perform action count to view counts
+ Apply transformation filter and view results with collect

In [15]:
# TO DO()
from random import randint
integers = [randint(0, 20) for i in range(10000)]
integers = sc.parallelize(integers)
integers = integers.map(lambda int: int-1)
integers.collect()
integers.count()
integers = integers.filter(lambda i : i%2==0)
integers.collect()

[14,
 6,
 2,
 10,
 4,
 2,
 16,
 18,
 10,
 16,
 12,
 0,
 8,
 8,
 12,
 10,
 14,
 10,
 6,
 14,
 12,
 14,
 16,
 18,
 2,
 4,
 18,
 10,
 8,
 8,
 0,
 8,
 2,
 4,
 0,
 12,
 10,
 8,
 12,
 0,
 10,
 4,
 18,
 4,
 2,
 6,
 0,
 10,
 8,
 8,
 6,
 12,
 14,
 12,
 6,
 10,
 12,
 14,
 16,
 14,
 4,
 2,
 0,
 10,
 2,
 10,
 8,
 14,
 2,
 4,
 18,
 18,
 10,
 8,
 10,
 18,
 4,
 18,
 14,
 10,
 16,
 18,
 16,
 14,
 10,
 8,
 18,
 4,
 16,
 18,
 2,
 4,
 16,
 10,
 6,
 4,
 14,
 2,
 10,
 0,
 12,
 4,
 10,
 10,
 0,
 10,
 0,
 8,
 0,
 14,
 14,
 2,
 4,
 4,
 12,
 0,
 14,
 10,
 12,
 18,
 16,
 18,
 14,
 0,
 6,
 14,
 14,
 14,
 6,
 10,
 10,
 4,
 8,
 4,
 6,
 6,
 10,
 16,
 16,
 12,
 12,
 2,
 0,
 6,
 8,
 14,
 6,
 0,
 18,
 0,
 2,
 0,
 16,
 6,
 4,
 16,
 4,
 6,
 6,
 6,
 14,
 6,
 18,
 8,
 10,
 0,
 14,
 12,
 18,
 14,
 8,
 8,
 12,
 6,
 12,
 18,
 16,
 8,
 16,
 8,
 0,
 16,
 8,
 16,
 6,
 14,
 16,
 6,
 14,
 4,
 0,
 12,
 18,
 18,
 4,
 2,
 18,
 0,
 2,
 10,
 6,
 8,
 8,
 18,
 18,
 2,
 14,
 6,
 10,
 6,
 4,
 12,
 18,
 0,
 2,
 2,
 2,
 10,
 14,
 8,
 18,
 0,
 12,
 0,
 12,
 2,
 0,
 6,
 2,
 12,
 6,
 8,
 2,
 8,
 16,
 4,
 12,
 14,
 18,
 6,
 10,
 0,
 18,
 18,
 2,
 12,
 12,
 16,
 0,
 0,
 18,
 18,
 4,
 2,
 16,
 6,
 8,
 4,
 12,
 4,
 18,
 18,
 4,
 14,
 16,
 12,
 6,
 10,
 18,
 18,
 10,
 14,
 10,
 0,
 2,
 4,
 12,
 2,
 8,
 12,
 10,
 10,
 8,
 18,
 14,
 16,
 18,
 14,
 8,
 2,
 4,
 10,
 12,
 12,
 12,
 18,
 10,
 0,
 4,
 6,
 8,
 18,
 16,
 4,
 8,
 16,
 2,
 4,
 18,
 0,
 18,
 2,
 8,
 16,
 12,
 4,
 8,
 0,
 4,
 16,
 16,
 4,
 0,
 14,
 4,
 16,
 6,
 6,
 14,
 4,
 2,
 6,
 8,
 18,
 6,
 14,
 0,
 0,
 0,
 10,
 8,
 12,
 16,
 0,
 12,
 18,
 0,
 4,
 8,
 8,
 8,
 18,
 2,
 14,
 18,
 18,
 12,
 4,
 2,
 14,
 6,
 12,
 12,
 16,
 16,
 10,
 14,
 12,
 16,
 4,
 14,
 2,
 2,
 0,
 8,
 10,
 8,
 2,
 2,
 18,
 8,
 10,
 8,
 18,
 4,
 12,
 18,
 4,
 2,
 8,
 6,
 10,
 14,
 0,
 6,
 14,
 10,
 0,
 8,
 0,
 6,
 16,
 2,
 12,
 12,
 14,
 6,
 16,
 14,
 8,
 12,
 14,
 6,
 10,
 18,
 12,
 18,
 6,
 16,
 12,
 14,
 0,
 14,
 4,
 14,
 6,
 2,
 0,
 8,
 14,
 18,
 8,
 2,
 2,
 0,
 2,
 18,
 2,
 8,
 10,
 14,
 10,
 14,
 14,
 4,
 4,
 10,
 6,
 8,
 12,
 4,
 10,
 0,
 16,
 18,
 0,
 8,
 16,
 16,
 4,
 16,
 4,
 6,
 2,
 8,
 4,
 16,
 2,
 8,
 6,
 6,
 16,
 16,
 18,
 14,
 16,
 14,
 6,
 8,
 0,
 18,
 14,
 6,
 10,
 16,
 12,
 16,
 8,
 2,
 14,
 0,
 16,
 12,
 4,
 18,
 18,
 10,
 2,
 12,
 8,
 14,
 4,
 12,
 8,
 10,
 18,
 2,
 14,
 6,
 8,
 12,
 18,
 2,
 14,
 10,
 2,
 8,
 0,
 6,
 14,
 8,
 10,
 12,
 18,
 0,
 8,
 8,
 6,
 2,
 12,
 2,
 4,
 12,
 18,
 18,
 12,
 16,
 2,
 4,
 2,
 6,
 2,
 0,
 18,
 6,
 10,
 0,
 12,
 2,
 2,
 6,
 0,
 12,
 0,
 14,
 12,
 8,
 2,
 4,
 0,
 12,
 12,
 2,
 4,
 16,
 4,
 6,
 0,
 2,
 12,
 4,
 4,
 10,
 12,
 2,
 14,
 10,
 12,
 12,
 0,
 2,
 12,
 16,
 14,
 2,
 12,
 2,
 6,
 2,
 18,
 2,
 8,
 10,
 16,
 8,
 4,
 0,
 14,
 16,
 16,
 4,
 8,
 6,
 8,
 4,
 18,
 2,
 10,
 16,
 2,
 16,
 0,
 18,
 16,
 2,
 16,
 18,
 4,
 6,
 2,
 12,
 14,
 10,
 16,
 12,
 18,
 6,
 12,
 12,
 18,
 8,
 0,
 8,
 4,
 12,
 6,
 12,
 12,
 12,
 12,
 6,
 4,
 2,
 6,
 6,
 12,
 12,
 8,
 18,
 2,
 8,
 8,
 16,
 2,
 14,
 2,
 10,
 2,
 10,
 16,
 0,
 0,
 8,
 12,
 12,
 14,
 6,
 14,
 2,
 4,
 16,
 18,
 18,
 4,
 10,
 18,
 16,
 0,
 10,
 0,
 4,
 6,
 4,
 18,
 2,
 6,
 4,
 2,
 14,
 8,
 14,
 16,
 8,
 0,
 12,
 16,
 8,
 2,
 0,
 16,
 14,
 16,
 4,
 16,
 8,
 0,
 6,
 8,
 12,
 14,
 4,
 16,
 8,
 12,
 6,
 16,
 12,
 18,
 2,
 0,
 4,
 4,
 18,
 0,
 0,
 6,
 18,
 4,
 6,
 12,
 4,
 10,
 0,
 12,
 6,
 16,
 2,
 10,
 8,
 10,
 12,
 16,
 14,
 18,
 2,
 0,
 0,
 14,
 10,
 0,
 0,
 0,
 2,
 4,
 4,
 12,
 8,
 2,
 14,
 14,
 4,
 8,
 4,
 18,
 8,
 6,
 10,
 16,
 18,
 2,
 2,
 4,
 14,
 6,
 8,
 2,
 0,
 0,
 14,
 6,
 12,
 4,
 0,
 14,
 2,
 16,
 12,
 4,
 10,
 18,
 16,
 6,
 10,
 0,
 10,
 6,
 4,
 0,
 12,
 12,
 4,
 6,
 2,
 0,
 16,
 4,
 8,
 14,
 12,
 0,
 8,
 12,
 14,
 10,
 14,
 10,
 14,
 6,
 18,
 12,
 16,
 14,
 16,
 10,
 8,
 6,
 10,
 16,
 12,
 6,
 12,
 14,
 16,
 6,
 0,
 8,
 2,
 0,
 16,
 10,
 8,
 10,
 18,
 6,
 2,
 8,
 14,
 2,
 12,
 2,
 8,
 4,
 16,
 4,
 10,
 8,
 0,
 16,
 12,
 10,
 12,
 8,
 18,
 8,
 10,
 4,
 6,
 0,
 8,
 12,
 6,
 6,
 4,
 2,
 4,
 6,
 10,
 10,
 16,
 2,
 16,
 6,
 8,
 6,
 16,
 10,
 14,
 2,
 14,
 6,
 10,
 16,
 14,
 14,
 10,
 16,
 16,
 0,
 6,
 4,
 4,
 0,
 12,
 0,
 12,
 12,
 14,
 0,
 12,
 2,
 18,
 6,
 8,
 18,
 10,
 4,
 4,
 16,
 8,
 4,
 10,
 14,
 0,
 4,
 8,
 8,
 4,
 6,
 8,
 16,
 10,
 6,
 10,
 12,
 18,
 8,
 18,
 0,
 18,
 14,
 4,
 4,
 14,
 2,
 10,
 0,
 8,
 0,
 18,
 8,
 14,
 16,
 10,
 6,
 4,
 4,
 18,
 10,
 8,
 16,
 16,
 8,
 18,
 4,
 8,
 10,
 14,
 0,
 4,
 0,
 18,
 14,
 14,
 8,
 18,
 10,
 12,
 10,
 14,
 6,
 8,
 6,
 14,
 16,
 10,
 12,
 16,
 18,
 6,
 0,
 2,
 6,
 10,
 16,
 2,
 8,
 12,
 16,
 8,
 2,
 ...]

### An improved WordCount

Print the top 10 most frequent words with their probability of appearance

In [16]:
##### TO DO
total = words.values().sum()
wordsProba = words.map(lambda word: (word[0],word[1]/total))
wordsProba.takeOrdered(10, key = lambda y: -y[1])

[('the', 0.04855738821583224),
 ('and', 0.035517929256069676),
 ('i', 0.02753247701065538),
 ('to', 0.027477740475842942),
 ('of', 0.022618352551938888),
 ('a', 0.0178380285116528),
 ('he', 0.015344475259086264),
 ('in', 0.015277575049871065),
 ('that', 0.014687636841337032),
 ('it', 0.011409526589792244)]

Get rid of special characters (.,:!?')

In [17]:
# TO DO
import string
words3 = wordsProba.map(lambda word: (''.join(ch for ch in word[0]
                                        if (ch not in string.punctuation))
                                        ,word[1]))
words3 = words3.reduceByKey(lambda count1, count2: count1 + count2)
words3.takeOrdered(10, key = lambda y: -y[1])

[('the', 0.04887972558750548),
 ('and', 0.03585851213934706),
 ('i', 0.028657616892911013),
 ('to', 0.027611540894273343),
 ('of', 0.02273390745876514),
 ('a', 0.018008319953291486),
 ('in', 0.015557339561134625),
 ('he', 0.015466112003113897),
 ('that', 0.014930910329392297),
 ('it', 0.013021213448158417)]

Identify the transformations and the actions in your script

In [17]:
# TO DO

How many times are the transformations evaluated? (Hint: it depends)

In [18]:
# TO DO

Can you reduce this number? (Hint: check out "persist")

In [19]:
# TO DO

In [20]:
sc.stop()

## Part 3 : Spark SQL and dataframes

In this part, you will explore Spark DataFrames and the SQL Context. In particular, we will work on a database that contains a sample of the world population by working on data that comes from [pplapi](http://pplapi.com/). The file [agents.json](./SparkData/agents.json) is a file that was extracted from this api using the following command :


`wget https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/4297166/agents.json`

In [21]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.read.json("../SparkData/agents.json")

Print the 5 first lines of the dataframe `df`

In [22]:
# TO DO
df.take(5)

[Row(country_name='China', id=227417393, latitude=33.15219798270325, longitude=100.85840672174572, sex='Male'),
 Row(country_name='Haiti', id=6821129477, latitude=19.325567983697297, longitude=-72.43795260265814, sex='Female'),
 Row(country_name='India', id=2078667700, latitude=23.645271492037235, longitude=80.85636526088884, sex='Female'),
 Row(country_name='China', id=477556555, latitude=33.45864668881662, longitude=93.33604038078953, sex='Female'),
 Row(country_name='India', id=1379059984, latitude=28.816938290678692, longitude=80.7728698035823, sex='Female')]

Write the spark instructions that enable to display the number of French agents.

In [23]:
# TO DO
french_agents = df.filter(df.country_name == "France")
french_agents.count()

94

Write the spark instructions that enable to display the number of Indian female agents.

In [24]:
# TO DO
ind_fem_agents = df.filter(df.country_name == "India").filter(df.sex == "Female")
ind_fem_agents.count()

828

Using the notion of temporary view (function `createTempView`), create a temporary view associated to the dataframe `df`.

In [25]:
df.createTempView("temp_table")

Write some SQL query on the resulting table as shown in the example below.

In [26]:
spark.sql("SELECT country_name,id FROM temp_table ORDER BY id DESC LIMIT 10").show()

+-----------------+----------+
|     country_name|        id|
+-----------------+----------+
| French Polynesia|7170821229|
|       Cabo Verde|7167692449|
|         Suriname|7166451460|
|         Suriname|7166235088|
|            Macau|7166034642|
|       Montenegro|7164357515|
|Equatorial Guinea|7163867872|
|           Bhutan|7163256789|
|           Bhutan|7163004645|
|           Bhutan|7162877973|
+-----------------+----------+

In [27]:
df.collect()

[Row(country_name='China', id=227417393, latitude=33.15219798270325, longitude=100.85840672174572, sex='Male'),
 Row(country_name='Haiti', id=6821129477, latitude=19.325567983697297, longitude=-72.43795260265814, sex='Female'),
 Row(country_name='India', id=2078667700, latitude=23.645271492037235, longitude=80.85636526088884, sex='Female'),
 Row(country_name='China', id=477556555, latitude=33.45864668881662, longitude=93.33604038078953, sex='Female'),
 Row(country_name='India', id=1379059984, latitude=28.816938290678692, longitude=80.7728698035823, sex='Female'),
 Row(country_name='India', id=2278934249, latitude=24.223974351280358, longitude=80.14372690674512, sex='Male'),
 Row(country_name='Philippines', id=4380736204, latitude=12.409991630883784, longitude=122.75874146810197, sex='Female'),
 Row(country_name='India', id=1375733494, latitude=22.385712662257426, longitude=77.90320433636231, sex='Female'),
 Row(country_name='Nigeria', id=3693807307, latitude=9.967458870426357, longitude=7.562942449523648, sex='Female'),
 Row(country_name='Mali', id=6552202234, latitude=16.882575147323337, longitude=-3.949079041016242, sex='Female'),
 Row(country_name='Thailand', id=5057542320, latitude=13.501463223632582, longitude=103.05981834176352, sex='Male'),
 Row(country_name='India', id=1806935868, latitude=18.4459850484637, longitude=74.28181188756791, sex='Male'),
 Row(country_name='China', id=265404548, latitude=29.447948266668902, longitude=106.56441719305467, sex='Female'),
 Row(country_name='China', id=1272365006, latitude=35.450817753169304, longitude=106.05970256662503, sex='Male'),
 Row(country_name='Pakistan', id=3427393483, latitude=29.930865126652122, longitude=70.15711512834791, sex='Female'),
 Row(country_name='Central African Republic', id=7029557128, latitude=7.01006931921262, longitude=21.005933006443826, sex='Female'),
 Row(country_name='Haiti', id=6826219119, latitude=18.940384961447766, longitude=-72.32688350214578, sex='Male'),
 Row(country_name='Tanzania', id=5357138381, latitude=-5.983046108539422, longitude=34.80683011234468, sex='Male'),
 Row(country_name='Ghana', id=6186906042, latitude=7.969120948577613, longitude=-1.9820137477590403, sex='Female'),
 Row(country_name='Brazil', id=3275490483, latitude=-9.425790844213656, longitude=-55.88198203024498, sex='Male'),
 Row(country_name='China', id=1293021300, latitude=34.973818552476594, longitude=96.05418804636446, sex='Male'),
 Row(country_name='Turkey', id=4701404121, latitude=37.56393993094461, longitude=34.97676436785574, sex='Male'),
 Row(country_name='India', id=2529129488, latitude=21.39793352260216, longitude=71.54235228362444, sex='Male'),
 Row(country_name='India', id=1584815794, latitude=19.102700698004416, longitude=79.67843973466778, sex='Female'),
 Row(country_name='Afghanistan', id=5959263002, latitude=33.263303774155794, longitude=64.99492532601873, sex='Female'),
 Row(country_name='Indonesia', id=3144232974, latitude=-5.253147320859558, longitude=120.43117465259839, sex='Male'),
 Row(country_name='Nigeria', id=3640711311, latitude=10.170281142412938, longitude=7.842350105092959, sex='Male'),
 Row(country_name='China', id=99366208, latitude=41.81966287215156, longitude=96.96557809539686, sex='Female'),
 Row(country_name='China', id=870403047, latitude=30.446592668103115, longitude=99.86467764286557, sex='Female'),
 Row(country_name='China', id=15484394, latitude=29.93657521439706, longitude=107.57967051007792, sex='Male'),
 Row(country_name='India', id=1384162574, latitude=21.32681121861903, longitude=71.48471516009089, sex='Male'),
 Row(country_name='Uganda', id=5789001829, latitude=0.8796928506610222, longitude=31.982344000007263, sex='Male'),
 Row(country_name='Mexico', id=4214818685, latitude=23.928363655169896, longitude=-102.55669928083223, sex='Male'),
 Row(country_name='Ethiopia', id=4440844717, latitude=7.573654021271036, longitude=37.91972666054307, sex='Male'),
 Row(country_name='Germany', id=4774934654, latitude=50.83784038807866, longitude=8.169217714577595, sex='Female'),
 Row(country_name='Malaysia', id=6052231162, latitude=2.3700056902450233, longitude=113.10078199909245, sex='Female'),
 Row(country_name='India', id=1514105680, latitude=17.825246219527756, longitude=73.22156078852429, sex='Female'),
 Row(country_name='United States', id=2853316064, latitude=41.033833734580945, longitude=-91.65275866673703, sex='Female'),
 Row(country_name='India', id=1816047056, latitude=22.510662605875417, longitude=72.304694481211, sex='Male'),
 Row(country_name='Chad', id=6691099531, latitude=15.233848398777187, longitude=19.157823861301242, sex='Male'),
 Row(country_name='Switzerland', id=6885957903, latitude=46.921594790622066, longitude=8.22408323449753, sex='Female'),
 Row(country_name='Indonesia', id=3048530626, latitude=-7.432083964437739, longitude=119.02431622013276, sex='Male'),
 Row(country_name='Iraq', id=5930018409, latitude=32.17723834717054, longitude=43.99573781048004, sex='Female'),
 Row(country_name='China', id=1321846660, latitude=36.59120698195029, longitude=109.72469570786885, sex='Female'),
 Row(country_name='Iraq', id=5938650510, latitude=31.796171356652454, longitude=44.01956963556785, sex='Female'),
 Row(country_name='Kenya', id=5568077688, latitude=0.7456197585699447, longitude=38.20734430206273, sex='Male'),
 Row(country_name='China', id=1275532973, latitude=37.524480510008004, longitude=103.70622243944408, sex='Female'),
 Row(country_name='Indonesia', id=3154471353, latitude=-4.433210651204394, longitude=120.05273138368418, sex='Female'),
 Row(country_name='United States', id=2820168938, latitude=39.061920989691245, longitude=-94.2030919855072, sex='Male'),
 Row(country_name='Netherlands', id=6537138393, latitude=52.34213750840909, longitude=5.449774972904005, sex='Female'),
 Row(country_name='Kenya', id=5560399594, latitude=0.9785286954649113, longitude=38.13527879425156, sex='Female'),
 Row(country_name='China', id=20015414, latitude=31.46468669730898, longitude=109.85915250579889, sex='Male'),
 Row(country_name='Afghanistan', id=5946442243, latitude=32.679464265685176, longitude=65.01241006489673, sex='Female'),
 Row(country_name='Congo, Democratic Republic of the', id=4990915996, latitude=-0.020418068339753903, longitude=24.992571733625038, sex='Male'),
 Row(country_name='Philippines', id=4322985607, latitude=14.646023747306337, longitude=122.90313729141337, sex='Female'),
 Row(country_name='China', id=309362183, latitude=32.69045279839111, longitude=110.42650525262033, sex='Male'),
 Row(country_name='India', id=2274764948, latitude=19.82309181729447, longitude=71.97339986366181, sex='Female'),
 Row(country_name='United States', id=2859940716, latitude=39.7751035245108, longitude=-98.948138526101, sex='Male'),
 Row(country_name='Ethiopia', id=4414822406, latitude=7.550136709473863, longitude=37.984759242671316, sex='Male'),
 Row(country_name='United States', id=2823482555, latitude=41.07153916408771, longitude=-101.2059032177518, sex='Male'),
 Row(country_name='India', id=1913189750, latitude=19.92907950396711, longitude=74.17253867508734, sex='Male'),
 Row(country_name='Argentina', id=5683782903, latitude=-34.049160196851325, longitude=-64.69303007084083, sex='Female'),
 Row(country_name='Russia', id=3975368555, latitude=59.19595339444253, longitude=98.16180819825837, sex='Male'),
 Row(country_name='China', id=1343905385, latitude=41.96284546651622, longitude=108.67341630546632, sex='Male'),
 Row(country_name='India', id=1709399212, latitude=22.532583859832314, longitude=77.17746533853149, sex='Male'),
 Row(country_name='Egypt', id=4641964535, latitude=26.924939020432625, longitude=30.241488256998633, sex='Male'),
 Row(country_name='India', id=2019200843, latitude=19.85322450012048, longitude=81.48236565311277, sex='Female'),
 Row(country_name='Bangladesh', id=3850646365, latitude=24.402287355497997, longitude=91.21384012347262, sex='Female'),
 Row(country_name='Brazil', id=3331625022, latitude=-9.407636254942977, longitude=-54.450336946871, sex='Female'),
 Row(country_name='India', id=1719769415, latitude=24.101708658049677, longitude=77.2805138761351, sex='Male'),
 Row(country_name='Rwanda', id=6661693560, latitude=-1.9383087091829854, longitude=29.98619667205585, sex='Male'),
 Row(country_name='Turkey', id=4755026291, latitude=37.24252315078151, longitude=32.78096723458758, sex='Female'),
 Row(country_name='Algeria', id=5699321948, latitude=28.5206220806587, longitude=3.0801055852111685, sex='Female'),
 Row(country_name='India', id=1900697806, latitude=25.00490234918041, longitude=73.99415281960854, sex='Female'),
 Row(country_name='China', id=985980387, latitude=38.60680626249304, longitude=106.91609526967221, sex='Male'),
 Row(country_name='Papua New Guinea', id=6963195969, latitude=-7.42605325188687, longitude=146.00755999797408, sex='Male'),
 Row(country_name='South Sudan', id=6678318682, latitude=7.111453930012057, longitude=29.663962895965433, sex='Male'),
 Row(country_name='China', id=935582633, latitude=34.7094577361872, longitude=95.5566777384761, sex='Male'),
 Row(country_name='United States', id=2906081961, latitude=36.89214674677357, longitude=-107.12733284272369, sex='Male'),
 Row(country_name='Malaysia', id=6061138206, latitude=1.8604903523304999, longitude=112.70832286819046, sex='Female'),
 Row(country_name='Sudan', id=5817951285, latitude=13.194311189243521, longitude=29.385965060346074, sex='Male'),
 Row(country_name='Brazil', id=3294152590, latitude=-8.611767097852562, longitude=-54.196783739247955, sex='Male'),
 Row(country_name='Nigeria', id=3575683407, latitude=10.550067728148772, longitude=7.786622300446744, sex='Male'),
 Row(country_name='India', id=2369918429, latitude=22.150854677005345, longitude=81.00740533835787, sex='Male'),
 Row(country_name='Korea, South', id=5376559575, latitude=36.34854592240245, longitude=126.65050817992874, sex='Male'),
 Row(country_name='India', id=2009386946, latitude=20.244264978859846, longitude=74.8826991482439, sex='Male'),
 Row(country_name='United States', id=2893755525, latitude=39.199107462434355, longitude=-98.1909926313206, sex='Female'),
 Row(country_name='China', id=625063480, latitude=28.85058415276269, longitude=96.63344201638141, sex='Female'),
 Row(country_name='United States', id=2629784744, latitude=39.05086605654595, longitude=-101.05153232029292, sex='Male'),
 Row(country_name='Ghana', id=6183729412, latitude=7.869766622475424, longitude=-1.9972268408052052, sex='Female'),
 Row(country_name='China', id=157299211, latitude=39.56774659009812, longitude=106.60279363281533, sex='Male'),
 Row(country_name='Congo, Democratic Republic of the', id=4941008801, latitude=-0.006099788895988108, longitude=25.022517779710288, sex='Female'),
 Row(country_name='Brazil', id=3322925227, latitude=-8.97430211469513, longitude=-55.026742641143215, sex='Male'),
 Row(country_name='China', id=154292451, latitude=33.207285122551156, longitude=108.69264668816358, sex='Male'),
 Row(country_name='India', id=1504105198, latitude=19.179362533369744, longitude=75.62931818391733, sex='Female'),
 Row(country_name='South Sudan', id=6668708448, latitude=7.69809447110746, longitude=30.52740522978231, sex='Male'),
 Row(country_name='Benin', id=6813497453, latitude=9.231599449696537, longitude=2.041413003594007, sex='Male'),
 Row(country_name='India', id=2188686500, latitude=17.218351214433053, longitude=80.27969374143316, sex='Female'),
 Row(country_name='Mozambique', id=6241924180, latitude=-18.005845166638345, longitude=35.47644553053387, sex='Female'),
 Row(country_name='Uganda', id=5796206628, latitude=0.9777361303992408, longitude=32.00118841565509, sex='Male'),
 Row(country_name='China', id=52428223, latitude=34.56283937179949, longitude=98.1102043026769, sex='Male'),
 Row(country_name='China', id=12419342, latitude=28.249299434316107, longitude=105.88126153375849, sex='Male'),
 Row(country_name='Sudan', id=5832160516, latitude=14.166696277631676, longitude=28.48948438652025, sex='Female'),
 Row(country_name='Bangladesh', id=3750540000, latitude=24.401212849568694, longitude=90.63341360604898, sex='Male'),
 Row(country_name='South Africa', id=5459599445, latitude=-28.93050506220497, longitude=24.907625431642973, sex='Male'),
 Row(country_name='Indonesia', id=2968038424, latitude=-4.561016276500735, longitude=121.18675605566685, sex='Male'),
 Row(country_name="Cote d'Ivoire", id=6322386429, latitude=8.139353146383188, longitude=-5.0136300426530624, sex='Female'),
 Row(country_name='Germany', id=4784101223, latitude=50.2935941755457, longitude=8.73599113958229, sex='Female'),
 Row(country_name='China', id=58847215, latitude=33.44295760875045, longitude=105.04691696251719, sex='Male'),
 Row(country_name='Turkey', id=4756266294, latitude=36.51851329436272, longitude=35.0236054045916, sex='Male'),
 Row(country_name='Canada', id=5848544598, latitude=60.41981869830016, longitude=-93.54919723360545, sex='Female'),
 Row(country_name='Turkey', id=4754536061, latitude=38.79927299103081, longitude=34.20003577913865, sex='Female'),
 Row(country_name='China', id=605372705, latitude=31.121611005503397, longitude=113.40563847316905, sex='Male'),
 Row(country_name='United States', id=2839688416, latitude=40.43492128145044, longitude=-100.23744068612899, sex='Male'),
 Row(country_name='China', id=326902200, latitude=28.415686739703954, longitude=103.64264755164633, sex='Male'),
 Row(country_name='China', id=282040127, latitude=42.639781519303185, longitude=101.86917495191271, sex='Male'),
 Row(country_name='India', id=1686639083, latitude=24.359614315713024, longitude=79.39650850071789, sex='Female'),
 Row(country_name='China', id=1191936495, latitude=40.111186336817454, longitude=95.80356371244136, sex='Male'),
 Row(country_name='Syria', id=6459817818, latitude=35.159584978232544, longitude=36.91417346353461, sex='Female'),
 Row(country_name='Burundi', id=6789168239, latitude=-3.3235781283586556, longitude=30.012840305557557, sex='Male'),
 Row(country_name='Kazakhstan', id=6470642420, latitude=48.0491733139528, longitude=68.20012095905304, sex='Male'),
 Row(country_name='India', id=1913354018, latitude=21.871897179439873, longitude=80.10429776477505, sex='Male'),
 Row(country_name='Brazil', id=3200079678, latitude=-11.917372985672422, longitude=-58.63530713746824, sex='Male'),
 Row(country_name='Nigeria', id=3683051088, latitude=10.131859861716713, longitude=8.243420749912662, sex='Male'),
 Row(country_name='Paraguay', id=6954277944, latitude=-23.000248847371875, longitude=-58.02795811698898, sex='Male'),
 Row(country_name='China', id=508848609, latitude=33.271112893611395, longitude=98.56410781361176, sex='Male'),
 Row(country_name='China', id=687306983, latitude=38.26141495843195, longitude=101.53623079951407, sex='Female'),
 Row(country_name='China', id=637909899, latitude=38.94888878488369, longitude=105.03993804706035, sex='Female'),
 Row(country_name='Burma', id=5271927095, latitude=23.27777645791801, longitude=100.78833617837603, sex='Female'),
 Row(country_name='Russia', id=3962690098, latitude=60.50397541179425, longitude=98.66648785291049, sex='Female'),
 Row(country_name='India', id=2307002204, latitude=20.699321259656855, longitude=79.93075655413766, sex='Male'),
 Row(country_name='China', id=371640262, latitude=34.64450221910502, longitude=96.26615784030619, sex='Male'),
 Row(country_name='Senegal', id=6641556088, latitude=13.783549445372028, longitude=-13.977130723159918, sex='Female'),
 Row(country_name='Brazil', id=3213268944, latitude=-9.97168859194048, longitude=-57.16743693312619, sex='Female'),
 Row(country_name='Uzbekistan', id=6073589058, latitude=41.82606563528225, longitude=67.66343149472773, sex='Female'),
 Row(country_name='Uzbekistan', id=6085752394, latitude=42.65883598249985, longitude=62.47750786306289, sex='Female'),
 Row(country_name='India', id=1801353372, latitude=26.0749118951488, longitude=77.72081481227286, sex='Male'),
 Row(country_name='India', id=1979437446, latitude=18.908231712752453, longitude=75.31325743013906, sex='Male'),
 Row(country_name='Ethiopia', id=4438907145, latitude=7.9337708935696725, longitude=37.86850792883316, sex='Female'),
 Row(country_name='China', id=624584439, latitude=32.778151557891135, longitude=100.42978574190742, sex='Female'),
 Row(country_name='Brazil', id=3227132274, latitude=-11.501347753492787, longitude=-56.159345101668855, sex='Male'),
 Row(country_name='France', id=5130782577, latitude=-0.21142875508479517, longitude=-0.003950214433749498, sex='Female'),
 Row(country_name='Vietnam', id=4569188554, latitude=14.5710986854793, longitude=109.71392875457795, sex='Female'),
 Row(country_name='United States', id=2815274584, latitude=37.43637430294344, longitude=-102.82718997254945, sex='Male'),
 Row(country_name='Iraq', id=5937997370, latitude=32.72624958018547, longitude=43.992946946710795, sex='Male'),
 Row(country_name='Indonesia', id=2948865336, latitude=-4.931360741160746, longitude=119.54697830833847, sex='Female'),
 Row(country_name='India', id=1550347907, latitude=26.574720440836586, longitude=74.47164134180663, sex='Female'),
 Row(country_name='Turkmenistan', id=7042822191, latitude=40.58185183476635, longitude=60.66404368450843, sex='Male'),
 Row(country_name='Tanzania', id=5325941847, latitude=-6.262598656235643, longitude=34.55341654026547, sex='Female'),
 Row(country_name='Argentina', id=5670521530, latitude=-33.9161643238204, longitude=-61.99954243830945, sex='Female'),
 Row(country_name='Angola', id=6408944732, latitude=-12.522588972979005, longitude=18.077533632707755, sex='Female'),
 Row(country_name='China', id=46884736, latitude=30.83173818495701, longitude=99.75694258289276, sex='Female'),
 Row(country_name='China', id=396268510, latitude=35.78080735511522, longitude=102.14330550801452, sex='Female'),
 Row(country_name='Russia', id=3943267614, latitude=60.580165614289584, longitude=99.88608603875734, sex='Male'),
 Row(country_name='China', id=860550231, latitude=37.28615009982017, longitude=117.62886009790577, sex='Female'),
 Row(country_name='Japan', id=4113264927, latitude=36.192199390719594, longitude=137.7709121265319, sex='Male'),
 Row(country_name='China', id=624881711, latitude=29.356121011850327, longitude=92.8712414502776, sex='Male'),
 Row(country_name='Burma', id=5265713136, latitude=22.99065891824829, longitude=97.27278580201808, sex='Female'),
 Row(country_name='Ireland', id=7054865873, latitude=52.99114167596131, longitude=-8.006568526403223, sex='Male'),
 Row(country_name='China', id=1147802492, latitude=44.60832721939638, longitude=121.80560551930034, sex='Female'),
 Row(country_name='Indonesia', id=3136599959, latitude=-4.6752059300163005, longitude=119.77794255957349, sex='Female'),
 Row(country_name='Ghana', id=6194194855, latitude=8.057941852896228, longitude=-1.9302118474937215, sex='Male'),
 Row(country_name='Kazakhstan', id=6469101893, latitude=46.28713295841074, longitude=67.20144866783814, sex='Male'),
 Row(country_name='China', id=1073298552, latitude=27.27976711161731, longitude=106.70277727872826, sex='Female'),
 Row(country_name='India', id=2036126954, latitude=20.725511946402577, longitude=78.55401981593346, sex='Male'),
 Row(country_name='China', id=1282726500, latitude=36.01975140990545, longitude=108.97722671424779, sex='Female'),
 Row(country_name='Germany', id=4799132000, latitude=51.51259756375053, longitude=9.474865080489353, sex='Male'),
 Row(country_name='France', id=5125653041, latitude=1.5099359591520582, longitude=-1.7155442515387973, sex='Female'),
 Row(country_name='India', id=1729124060, latitude=21.03973421310594, longitude=76.80971900411387, sex='Male'),
 Row(country_name='Canada', id=5862980688, latitude=59.51854528333551, longitude=-94.96475761486086, sex='Female'),
 Row(country_name='Bosnia and Herzegovina', id=7082723139, latitude=44.05356730173418, longitude=17.990507192232318, sex='Female'),
 Row(country_name='China', id=549724403, latitude=37.897714561019626, longitude=106.79702608982669, sex='Male'),

In [28]:
# TO DO - Write some requests.
spark.sql("SELECT * FROM temp_table WHERE sex = 'Female'").show()

+--------------------+----------+------------------+-------------------+------+
|        country_name|        id|          latitude|          longitude|   sex|
+--------------------+----------+------------------+-------------------+------+
|               Haiti|6821129477|19.325567983697297| -72.43795260265814|Female|
|               India|2078667700|23.645271492037235|  80.85636526088884|Female|
|               China| 477556555| 33.45864668881662|  93.33604038078953|Female|
|               India|1379059984|28.816938290678692|   80.7728698035823|Female|
|         Philippines|4380736204|12.409991630883784| 122.75874146810197|Female|
|               India|1375733494|22.385712662257426|  77.90320433636231|Female|
|             Nigeria|3693807307| 9.967458870426357|  7.562942449523648|Female|
|                Mali|6552202234|16.882575147323337| -3.949079041016242|Female|
|               China| 265404548|29.447948266668902| 106.56441719305467|Female|
|            Pakistan|3427393483|29.930865126652122|  70.15711512834791|Female|
|Central African R...|7029557128|  7.01006931921262| 21.005933006443826|Female|
|               Ghana|6186906042| 7.969120948577613|-1.9820137477590403|Female|
|               India|1584815794|19.102700698004416|  79.67843973466778|Female|
|         Afghanistan|5959263002|33.263303774155794|  64.99492532601873|Female|
|               China|  99366208| 41.81966287215156|  96.96557809539686|Female|
|               China| 870403047|30.446592668103115|  99.86467764286557|Female|
|             Germany|4774934654| 50.83784038807866|  8.169217714577595|Female|
|            Malaysia|6052231162|2.3700056902450233| 113.10078199909245|Female|
|               India|1514105680|17.825246219527756|  73.22156078852429|Female|
|       United States|2853316064|41.033833734580945| -91.65275866673703|Female|
+--------------------+----------+------------------+-------------------+------+
only showing top 20 rows

In [29]:
spark.sql('SELECT country_name, count(*) FROM temp_table GROUP BY 1').show()

+------------+--------+
|country_name|count(1)|
+------------+--------+
|        Chad|      20|
|      Russia|     185|
|    Paraguay|       9|
|       Yemen|      43|
|Korea, North|      47|
|     Senegal|      17|
|      Sweden|      18|
|  Cabo Verde|       1|
|      Guyana|       2|
| Philippines|     160|
|       Burma|      71|
|     Eritrea|       8|
|    Djibouti|       3|
|    Malaysia|      54|
|   Singapore|       8|
|      Turkey|     103|
|      Malawi|      30|
|        Iraq|      46|
|     Germany|     114|
|     Comoros|       2|
+------------+--------+
only showing top 20 rows

In [30]:
spark.sql('SELECT sex, latitude, longitude, count(*) FROM temp_table GROUP BY 1,2,3 ORDER BY 4 DESC LIMIT 10').show()

+------+------------------+------------------+--------+
|   sex|          latitude|         longitude|count(1)|
+------+------------------+------------------+--------+
|Female| 4.106919189076047| -72.5631921283591|       1|
|Female|10.202676982537772| 8.576876200517814|       1|
|  Male| 27.37149433886258| 90.38882928596311|       1|
|  Male|35.601821604832246|102.09607612270949|       1|
|  Male| 39.43384056617874| -6.29274226458403|       1|
|  Male|17.270230550373025| 80.06445525098654|       1|
|  Male|22.746382062092216| 74.11523769976546|       1|
|  Male|15.263012541507491|28.499070779593325|       1|
|  Male|36.356268722352375|  137.965187991509|       1|
|Female| 8.066725386316126|-5.025888965755724|       1|
+------+------------------+------------------+--------+

In [31]:
spark.stop()
sc.stop()

You can also create a dataframe from an existing RDD as shown on the example below

In [32]:
sc=pyspark.SparkContext("local[*]","Dataframe examples in Spark")
sqlContext = pyspark.SQLContext(sc)

In [33]:
documents_rdd = sc.parallelize([
        [1, 'cats are cute', 0],
        [2, 'dogs are playfull', 0],
        [3, 'lions are big', 1],
        [4, 'cars are fast', 1]])
users_rdd = sc.parallelize([
        [0, 'Alice', 20],
        [1, 'Bob', 23],
        [2, 'Charles', 32]])

In [34]:
documents_df = documents_rdd.toDF(['doc_id', 'text', 'user_id'])
users_df = users_rdd.toDF(['user_id', 'name', 'age'])

# printing the inferred schema for documents
documents_df.printSchema()

root
 |-- doc_id: long (nullable = true)
 |-- text: string (nullable = true)
 |-- user_id: long (nullable = true)

Some functions can be apply to a column or to different columns. Here, we compute the age avarage in the dataframe `users_df`.

In [35]:
from pyspark.sql import functions as fn

user_age_df = users_df.select(fn.avg('age')).show()

+--------+
|avg(age)|
+--------+
|    25.0|
+--------+


Compute the max of age in the dataframe `users_df`.

In [36]:
# TO DO 
max_age = users_df.select(fn.max('age')).show()

+--------+
|max(age)|
+--------+
|      32|
+--------+

Join (as in SQL) the two dataframes `users_df` and `documents_df`

In [37]:
# TO DO 
join_df = users_df.join(documents_df, on = "user_id")

Outer Join (Left) (as in SQL) the two dataframes `users_df` and `documents_df`

In [38]:
# TO DO
join_df_outer = users_df.join(documents_df, on = "user_id", how = "leftouter")

## Part 4 : MLlib - Spark for data analysis and machine learning

In this part, we will see how to create a text classifiation application with Spark. We will use some data from the newsgroups [Usenet](https://en.wikipedia.org/wiki/Usenet_newsgroup) and the objective is to predict the topic of the news.
 
The train data is [here](./SparkData/20ng-train-all-terms.txt) and the test data [here](./SparkData/20ng-test-all-terms.txt).
The are obtained using the following commands: 
`wget http://ana.cachopo.org/datasets-for-single-label-text-categorization/20ng-train-all-terms.txt`
and
`wget http://ana.cachopo.org/datasets-for-single-label-text-categorization/20ng-test-all-terms.txt`

Load these data as some RDDs and translate them in DataFrames.

In [62]:
sc.stop()

findspark.init()
from pyspark.ml.feature import CountVectorizer

sc=pyspark.SparkContext("local[*]","machine learning in Spark")
sqlContext = pyspark.SQLContext(sc)

from pyspark.sql import Row

def load_dataframe(path):
    # TO COMPLETE
    x = sc.textFile(path)
    schema = StructType([StructField(str(i), StringType(), True) for i in range(32)])
    df = sqlContext.createDataFrame(x, schema)
    return df
    
    
train_data = load_dataframe("C:/Users/Julien/Documents/MYCLOUD/Etudes/ESSEC-Centrale/Courses/Core courses/Big Data Algorithms Techniques & Platforms/Assignment 2/SparkData/train-all-terms.txt")
test_data = load_dataframe("C:/Users/Julien/Documents/MYCLOUD/Etudes/ESSEC-Centrale/Courses/Core courses/Big Data Algorithms Techniques & Platforms/Assignment 2/SparkData/test-all-terms.txt")

train_data.show()
test_data.show()

Py4JJavaError: An error occurred while calling o611.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost, executor driver): java.net.SocketException: Connection reset by peer: socket write error
	at java.net.SocketOutputStream.socketWrite0(Native Method)
	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:111)
	at java.net.SocketOutputStream.write(SocketOutputStream.java:155)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at java.io.DataOutputStream.write(DataOutputStream.java:107)
	at java.io.FilterOutputStream.write(FilterOutputStream.java:97)
	at org.apache.spark.api.python.PythonRDD$.writeUTF(PythonRDD.scala:383)
	at org.apache.spark.api.python.PythonRDD$.org$apache$spark$api$python$PythonRDD$$write$1(PythonRDD.scala:203)
	at org.apache.spark.api.python.PythonRDD$$anonfun$writeIteratorToStream$1.apply(PythonRDD.scala:213)
	at org.apache.spark.api.python.PythonRDD$$anonfun$writeIteratorToStream$1.apply(PythonRDD.scala:213)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:213)
	at org.apache.spark.api.python.PythonRunner$$anon$2.writeIteratorToStream(PythonRunner.scala:407)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread$$anonfun$run$1.apply(PythonRunner.scala:215)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1991)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:170)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:363)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3273)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3254)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3253)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2698)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:254)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.SocketException: Connection reset by peer: socket write error
	at java.net.SocketOutputStream.socketWrite0(Native Method)
	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:111)
	at java.net.SocketOutputStream.write(SocketOutputStream.java:155)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream.write(BufferedOutputStream.java:126)
	at java.io.DataOutputStream.write(DataOutputStream.java:107)
	at java.io.FilterOutputStream.write(FilterOutputStream.java:97)
	at org.apache.spark.api.python.PythonRDD$.writeUTF(PythonRDD.scala:383)
	at org.apache.spark.api.python.PythonRDD$.org$apache$spark$api$python$PythonRDD$$write$1(PythonRDD.scala:203)
	at org.apache.spark.api.python.PythonRDD$$anonfun$writeIteratorToStream$1.apply(PythonRDD.scala:213)
	at org.apache.spark.api.python.PythonRDD$$anonfun$writeIteratorToStream$1.apply(PythonRDD.scala:213)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:213)
	at org.apache.spark.api.python.PythonRunner$$anon$2.writeIteratorToStream(PythonRunner.scala:407)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread$$anonfun$run$1.apply(PythonRunner.scala:215)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1991)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:170)

In [61]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType

In [65]:
sc.stop()

findspark.init()
from pyspark.ml.feature import CountVectorizer

sc=pyspark.SparkContext("local[*]","machine learning in Spark")
sqlContext = pyspark.SQLContext(sc)

from pyspark.sql import Row

def load_dataframe(path):
  x = sc.textFile(path)
  x = x.map(lambda i: re.sub(r".*\t", "", i)) \
              .flatMap(lambda i: i.split("\n")) \
              .map(lambda i: i.replace("re ", ""))
  
  df = x.map(lambda i: (i,)).toDF(['text'])
  return df

train_data = load_dataframe("C:/Users/Julien/Documents/MYCLOUD/Etudes/ESSEC-Centrale/Courses/Core courses/Big Data Algorithms Techniques & Platforms/Assignment 2/SparkData/train-all-terms.txt")
test_data = load_dataframe("C:/Users/Julien/Documents/MYCLOUD/Etudes/ESSEC-Centrale/Courses/Core courses/Big Data Algorithms Techniques & Platforms/Assignment 2/SparkData/test-all-terms.txt")

train_data.show()
test_data.show()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 230, in main
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 225, in process
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 372, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\pyspark\rdd.py", line 1371, in takeUpToNumLeft
    yield next(iterator)
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-65-f4b7f571f08b>", line 13, in <lambda>
NameError: name 're' is not defined

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:149)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:149)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:149)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 230, in main
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\worker.py", line 225, in process
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\serializers.py", line 372, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\pyspark\rdd.py", line 1371, in takeUpToNumLeft
    yield next(iterator)
  File "C:\Spark\spark-2.3.1-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-65-f4b7f571f08b>", line 13, in <lambda>
NameError: name 're' is not defined

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:149)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:149)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2074)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

A first step is to represent our data, i.e. the messages in the form of a bag-of-word representation using the spark method `CountVectorizer` documented [here](https://spark.apache.org/docs/2.1.0/ml-features.html#countvectorizer)

In [ ]:
# TO DO  - bag of word representation of test and train data

Displayong of the distint labels in the datasets

In [ ]:
train_data.select("label").distinct().sort("label").show(truncate=False)

We will now apply a [NaiveBayes](https://spark.apache.org/docs/latest/ml-classification-regression.html#naive-bayes) classifier to our problem. 
Take the time to read the doc and apply it to our problem. You will first have to associate a number to each label. You can use the [`String Indexer`](https://spark.apache.org/docs/2.1.0/ml-features.html#stringindexer) function of pyspark for that.

In [ ]:
# TO DO - Transformation of the label into a number

In [ ]:
# TO DO - Application of the NaivesBayes models

In [ ]:
# TO DO - Application of the trained model to the test dataset and displaying the prediction compared to the real value for the 20 first messages

The Evaluation of the learned model can be done by using the [evaluation](https://spark.apache.org/docs/2.1.0/mllib-evaluation-metrics.html) module of MLlib. Print the accuracy of the obtained model.

In [ ]:


# TO DO